.gallery{
    padding: 4vw;
    max-width: 1400px;
    display: grid;
    grid-template-columns: 1fr 1fr 1fr;
    img{
        background-size: cover;
        width: 416px;
        @media (max-width: 768px) {
            display: grid;
            grid-template-columns: 1fr 1fr 1fr;
            width: 100%;
        }
    }
}