.header{
    display: flex;
    justify-content: space-between;
    padding-top: 3vw;
    padding-bottom: 3vw;
    padding-left: 4vw;
    padding-right: 4vw;
    z-index: 10;
    position: relative;
    &__logo{
        width: 71px;
        position: absolute;
    }
    &__social{
        &__links{
            display: flex;
            &__item{
                width: 60px;
            }
        }
    }
}