.hero{
    width: 1400px;
    padding-bottom: 3vw;
    &__img{
        position: absolute;
        &--background{
            width: 1384px;
            height: 559px;
            object-fit: cover;
            top: 0;
        }
        &--on{
            padding-bottom: 3vw;
            position: relative;    
            overflow: hidden;      
            margin: 0 auto;
            top: 100px;
            left: calc(741px/2);    
            }
    }
}