.presskit{
    padding: 1vw 4vw;
    display: flex;
    justify-content: space-between;
    align-items: center;
    width: 100%;
    .button{
        @media (max-width: 768px) {
        justify-content: center;
        display: flex;
        margin: 0 auto;
        }
    }
    @media (max-width: 768px) {
        display: block;
        padding: 6vw;
    }
    &__content{
        width: 45%;
        @media (max-width: 768px) {
            width: 100%;
        }
        p{
            padding-bottom: 8px;
        }
    }
    &__image{
        img{
            width: 540px;
            @media (max-width: 768px) {
                display: block;
                width: 100%;
            }
        }
    }
}