.team_cherry{
    padding: 4vw;
    background-color: rgba(232,48,70,255);
    &__content{
        display: flex;
        align-items: center;
        flex-direction: column;
        margin: 0 auto;
        width: 80%;
        p{
            text-align: center;
            width: 90%;
            margin-top: 16px;
            margin-bottom: 32px;
            text-align: center;
        }
    }
    button{
        color: rgba(232,48,70,255);
        text-transform: none;
        margin-top: 16px;
        margin-bottom: 16px;
    }
    &__icons{
        &__icon{
            padding: 0;
            &__content{
                display: flex;
    align-items: center;
    justify-content: center;
    flex-direction: column;
                
                p{
                    width: 80%;
                    margin-top: 16px;
                    margin-bottom: 16px;
                }
                img{
                    max-width: 198px;
                }
            }
        }
    }
    .footer{
        text-align: center;
        svg{
                width: 30px;
                height: 60px;
                margin-top: 16px;
                margin-left: 8px;
                margin-right:8px;
            }
    }    
}