@use 'hero';
@use 'variaveis';
@use 'header';
@use 'page-section';
@use 'ytb';
@use 'gallery';
@use 'soundtrack';
@use 'carrousel';
@use 'presskit';

*{
    margin: 0;
    padding: 0;
    box-sizing: border-box;
    border: none;
    list-style: none;
}

@font-face {
    font-family: PoppinsLight;
    src: url(/assets/fonts/PoppinsLight-l4Zw.otf);
    font-weight: lighter;
}

@font-face{
    font-family: Poppins;
    src: url(/assets/fonts/PoppinsRegular-B2Bw.otf);
    font-weight: normal;
}

@font-face {
    font-family: PoppinsMedium;
    src: url(/assets/fonts/PoppinsMedium-1JPv.otf);
    font-weight: bold;
}

body{
    font-family: Poppins, sans-serif;
    background-color: variaveis.$corBackground;
}

@mixin text($fontsize: 14px){
    font-family: PoppinsLight, sans-serif;
    font-size: $fontsize;
    color: #fff;
    line-height: 2em;
}

@mixin title($fontsize:34px){
    font-family: PoppinsMedium, sans-serif;
    color: #fff;
    font-size: $fontsize;
}

.text{
    @include text;
}
.text--big{
    @include text;
    font-size: 20px;
}

.title{
    @include title;
}

.title--big{
    @include title;
    font-size: calc((2.8 - 1) * 1.2vw + 1rem);
}
.button{
    font-family: Poppins, sans-serif;
    font-size: 14px;
    color: #000;
    background-color: #fff;
    padding: 16px 28px;
}